/* Global Styles */
* {
  /* background-color: rgb(152, 120, 182); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  /* color: #333; */
}
.container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

/* navigation bar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1000;
  padding: 15px 0;
  backdrop-filter: blur(10px);
}
.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  gap: 25px;

}
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  margin-top: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  padding: 10px 0;
  border-radius: 6px;
  min-width: 180px;
  z-index: 2000;
   box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.dropdown-menu a {
  display: block;
  padding: 8px 20px;
  color: #333;
  text-decoration: none;
  white-space: nowrap;
}
.dropdown-menu a:hover {
  background: #f2f2f2;
  
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.nav-links a {
  text-decoration: none;
  color: #0c0707ff;
  font-weight: 900;
  transition: 0.2s;
}
.nav-links a:hover {
  color: rgba(47, 217, 230, 1);
}
.search-icon {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: rgb(203, 236, 13);
  width: 40px;
  height: 40px;
}
.search-icon img {
  width: 20px;
  height: 20px;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0,); */
  z-index: 1;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://refactory.academy/wp-content/uploads/2025/08/0G2A8223-1536x1024.jpg")
    center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}
.hero-content {
  padding-top: 20%;
  text-align: center;
  position: relative;
  z-index: 2;
}
.hero h1 {
  font-size: 40px;
  font-weight: 700;
  color: rgba(241, 237, 237, 1);
  margin-bottom: 15px;
}
.hero p {
  font-size: 20px;
  margin-bottom: 35px;
  color: rgba(241, 237, 237, 1);
}
.btn {
  display: inline-block;
  padding: 15px 30px;
  margin: 5px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.25s;
}
.btn.purple {
  background: #6B2D8F;
  color: #fff;
}
.btn.yellow {
  background: #C0FF33;
  color: #fff;
}
.btn.btn-course{
  background: #e1e431ff;
   color: white;

}

.btn.btn-course:hover{
  background: #080349ff;
 
}

.btn.white {
  background: rgba(255, 255, 255, 1);
  color: #50054aff;
}

.btn.purple:hover {
  background: #fff;
  color: #50054aff;
}

.btn.yellow:hover {
  background: #fff;
  color: #50054aff;
}

.btn.white:hover {
  background: #080349ff;
  color: rgb(255, 255, 255);
}

/* accademy section style */
.academy-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 40px;
  padding: 40px 60px;
  background-color: #e7eaeeff;
}
.academy-content {
  flex: 1;
}

.academy-content h2 {
  color: #6B2D8F;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.academy-content h3 {
  color: rgba(54, 130, 153, 1);
  font-size: 22px;
  margin-bottom: 20px;
}
.academy-content p {
  color: rgb(44, 43, 43);
  margin-bottom: 20px;
  line-height: 1.6;
}
.academy-image {
  flex: 1;
}
.academy-image img {
  width: 100%;
  max-height: 200%;

  object-fit: cover;

}
.course-card img{
  height: 240px;
  width: 100%;
  object-fit: cover;

}
h5.heading-text{
  color: #6B2D8F;
  font-weight: bold;
}
.courses-wrapper{
  background: white;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
h4{
  color: #00BFA5;
}
.course-heading{
  color: #6B2D8F;
}

.footer-section{
  background:#2C1A4D ;
  position: relative;
}
.footer-links li{
  margin-bottom: 8px;
  list-style: none;
}
.footer-links a{
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
.footer-links a:hover{
  color:#ffffff
}

.social-icons a{
  font-size: 1.4rem;
   color:#ffffff
}
.facebook{
  color: #3b5998;
}
.twitter{
  color: #3b5998;;
}
.instagram{
  color: #E1306C;
}
.linkedin{
  color: #0e76a8;
}
.youtube{
  color: #FF0000;
}
.footer-headings{
  color: rgb(45, 238, 238);
  font-weight: bold;
}