/* Global Styles */
* {
  /* background-color: rgb(152, 120, 182); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  /* color: #333; */
}
.container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

/* navigation bar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 1000;
  padding: 15px 0;
}
.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  gap: 25px;
}
.nav-links a {
  text-decoration: none;
  color: #ffffffff;
  font-weight: 900;
  transition: 0.2s;
}
.nav-links a:hover {
  color: rgba(47, 217, 230, 1);
}
.search-icon {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: rgb(203, 236, 13);
  width: 40px;
  height: 40px;
}
.search-icon img {
  width: 20px;
  height: 20px;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0,); */
  z-index: 1;
}

.hero {
  height: 100vh;
  background: url("https://refactory.academy/wp-content/uploads/2025/08/MAL_6566.jpeg")
    center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}
.hero-content {
  text-align: center;
  position: relative;
  z-index: 2;
}
.hero h1 {
  font-size: 40px;
  font-weight: 700;
  color: rgba(241, 237, 237, 1);
  margin-bottom: 15px;
}
.hero p {
  font-size: 20px;
  margin-bottom: 35px;
  color: rgba(241, 237, 237, 1);
}
.btn {
  display: inline-block;
  padding: 8px 30px;
  margin: 5px;
  border-radius: 6%;
  font-weight: 600;
  text-decoration: none;
  transition: 0.25s;
}
.btn.purple {
  background: purple;
  color: #fff;
}
.btn.yellow {
  background: rgb(218, 206, 37);
  color: #fff;
}

.btn.white {
  background: rgba(255, 255, 255, 1);
  color: #50054aff;
}

.btn.purple:hover {
  background: #fff;
  color: #50054aff;
}

.btn.yellow:hover {
  background: #fff;
  color: #50054aff;
}

.btn.white:hover {
  background: #080349ff;
  color: rgb(255, 255, 255);
}
